<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WorkLayers.DataAccessLayer.Properties.Settings.ACSConnectionString"
            connectionString="Data Source=haiyangs\sql2005;Initial Catalog=ACS;User ID=sa;Password=Sa001"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>